<%= form_with(model: officer) do |form| %>
  <% if officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(officer.errors.count, "error") %> prohibited this officer from being saved:</h2>

      <ul>
        <% officer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <div class="form-row">
      <div class="form-group col-md-3">
      <%= form.label :position, {class: 'form-label'} %>
      <%= form.text_field :position, {class: "form-control"} %>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-3">
      <%= form.label :year_elected, {class: 'form-label'} %>
      <%= form.text_field :year_elected, {class: "form-control"} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
      <%= form.label :description, {class: 'form-label'} %>
      <%= form.text_field :description, {class: "form-control"} %>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-3">
      <%= form.label :person_id, {class: 'form-label'} %>
      <% if officer.blank? %>

        <%= form.select :person_id, Person.where.not(id: Officer.select(:person_id))
                        .order(:name).map { |person| [person.name, person.id] },
                        {include_blank: true, id: "officer_person_id"}, {class: "form-control"}%>
      <%else %>
        <%= form.select :person_id,
                        Person.where.not(id: Officer.select(:person_id))
                          .or(Person.where(id: officer.person_id)).order(:name).map { |person| [person.name, person.id] },
                        {include_blank: true, id: "officer_person_id"}, {class: "form-control"}%>
      <%end %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
      <%= form.label :portrait, {class: 'form-label'} %>
      <% if officer.portrait.attached? %>
        <%= image_tag officer.portrait %><br>
      <% end %>
      <%= form.file_field :portrait, {accept: 'image/png, image/gif, image/jpeg', class: "form-control"}%>
      </div>
    </div>
  </div>

  <div class="submit-button">
    <%= form.button :submit => "", class: "btn btn-success" %>
  </div>
<% end %>
