<%= form_with(model: officer) do |form| %>
  <% if officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(officer.errors.count, "error") %> prohibited this officer from being saved:</h2>

      <ul>
        <% officer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :year_elected %>
    <%= form.text_field :year_elected %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>


  <div class="field">
    <%= form.label :person_id %>
    <%= form.select :person_id, Person.order(:name).map { |person| [person.name, person.id] }, include_blank: true, id: "id_of_the_person_id_select_box" %>
  </div>

  <div class = "field">
    <%= form.label :portrait %>
    <% if officer.portrait.attached? %>
      <%= image_tag officer.portrait %><br>
    <% end %>
    <%= form.file_field :portrait, accept: 'image/png, image/gif, image/jpeg'%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
