
<p>
  <strong>Position:</strong>
  <%= @officer.position %>
</p>

<p>
  <strong>Email:</strong>
  <%= @officer.person.email %>
</p>

<p>
  <strong>Year elected:</strong>
  <%= @officer.year_elected %>
</p>

<p>
  <strong>Description:</strong>
  <%= @officer.description %>
</p>

<p>
  <strong>Person:</strong>
  <%= @officer.person.name %>
</p>

<p>
  <strong>Photo</strong>
  <% if @officer.portrait.attached? %>
    <%= image_tag @officer.portrait.variant(resize_to_fit: [200, 200]) %>
  <% else %>
    Image could not load
  <% end %>
</p>


<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Back', officers_path %>
