<%= form_with(model: position) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
        <% position.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.select :person_id, Person.order(:name).map { |person| [person.name, person.id] }, include_blank: true, id: "position_person_id" %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.select :company_id, Company.order(:name).map { |company| [company.name, company.id] }, include_blank: true, id: "position_company_id" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
