<%= form_with(model: position) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
        <% position.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <div class="form-row">
      <div class="form-group col-md-3">
        <%= form.label :position, {class: 'form-label'} %>
        <%= form.text_field :position, { class: "form-control"} %>
      </div>
    </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <%= form.label :person_id, {class: 'form-label'} %>
          <%= form.select :person_id, Person.order(:name).map { |person| [person.name, person.id] },
                          {include_blank: true, id: "position_person_id"}, { class: "form-control"} %>
        </div>
      </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <%= form.label :company_id, {class: 'form-label'} %>
            <%= form.select :company_id, Company.order(:name).map { |company| [company.name, company.id] },
                            {include_blank: true, id: "position_company_id"}, { class: "form-control"} %>
          </div>
        </div>
  </div>


  <div class="submit-button">
    <%= form.button :submit => "", class: "btn btn-success" %>
  </div>
<% end %>
