
<p>
  <strong>Position:</strong>
  <%= @position.position %>
</p>

<p>
  <strong>Person:</strong>
  <%= @position.person.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @position.company.name %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
