<div class="row justify-content-center p-7">
  <div class="card" style="text-align: center; width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong><h5>Person Name: </h5></strong>
        <%= @position.person.name %>
      </li>
      <li class="list-group-item">
        <strong><h5>Company: </h5></strong>
        <%= @position.company.name %>
      </li>
      <li class="list-group-item">
        <strong><h5>Position At Company: </h5></strong>
        <%= @position.position %>
      </li>
    </ul>
    <div class="card-footer">
      <%= link_to 'Edit', edit_position_path(@position), :class=>"btn btn-warning"   %>

    </div>
  </div>
</div>

<div class="submit-button">
  <%= link_to 'Back', positions_path, :class=>"btn btn-dark"   %>
</div>

