<p id="notice"><%= notice %></p>

<h1 style ="text-align: center;">Welcome to the Admins Page!</h1>
<html>
  <div class = "center-div">
    <div class = "calendar-div">
      <body>
      Admin Page will be here once linked.
      </body>
    </div>
  </div>

<br>
  <%= link_to("alumnis", alumnis_path) %>
  <%= link_to("companies", companies_path) %>
  <%= link_to("contact form", contact_forms_path) %>
  <%= link_to("officers", officers_path) %>
  <%= link_to("people", people_path) %>
  <%= link_to("positions", positions_path) %>
</html>