<p id="notice"><%= notice %></p>

<h1 style ="text-align: center;">Welcome to the Admins Page!</h1>
<html>


  <%= link_to("alumnis", alumnis_path) %> <br>
  <%= link_to("companies", companies_path) %> <br>
  <%= link_to("contact form", contact_forms_path) %> <br>
  <%= link_to("officers", officers_path) %> <br>
  <%= link_to("people", people_path) %> <br>
  <%= link_to("positions", positions_path) %><br><br><br><br>
  <%= link_to "Sign out", destroy_admin_session_path %>
</html>