<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <div class="form-row">
      <div class="form-group col-md-3">
      <%= form.label :name, {class: 'form-label'} %>
      <%= form.text_field :name, { class: "form-control"} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
      <%= form.label :class_year, {class: 'form-label'} %>
      <%= form.text_field :class_year, { class: "form-control"} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
      <%= form.label :membership_length, {class: 'form-label'} %>
      <%= form.text_field :membership_length, { class: "form-control"} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <%= form.check_box :is_admin%>
        <%= form.label :is_admin, {class: 'form-label'} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
      <%= form.label :email, {class: 'form-label'} %>
      <%= form.text_field :email, { class: "form-control"} %>
      </div>
    </div>

  </div>

  <div class="submit-button">
    <%= form.button :submit => "", class: "btn btn-success" %>
  </div>
<% end %>
