<p id="notice"><%= notice %></p>

<h1>People</h1>

<div class="outer-table-div">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col" >Name</th>
      <th scope="col" >Class year</th>
      <th scope="col" >Membership length</th>
      <th scope="col" >Email</th>
      <th scope="col" >Is Admin</th>
      <th scope="col" style="text-align:center;" >Options</th>
    </tr>
    </thead>

    <tbody>
    <% @people.each do |person| %>
      <tr scope="row" >
        <td><%= person.name %></td>
        <td><%= person.class_year %></td>
        <td><%= person.membership_length %></td>
        <td><%= person.email %></td>
        <td><%= person.is_admin %></td>
        <td><%= link_to 'Show', person, :class => "btn btn-outline-info" %>
        <%= link_to 'Edit', edit_person_path(person), :class => "btn btn-outline-info" %>
        <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


<br>

<%= link_to 'New Person', new_person_path, :class => "btn btn-success"   %>
