<div class="row justify-content-center">
  <div class="card" style="text-align: center; width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong><h5>Person Name: </h5></strong>
        <%= @person.name %>
      </li>
      <li class="list-group-item">
        <strong><h5>Class Year: </h5></strong>
        <%= @person.class_year %>
      </li>
      <li class="list-group-item">
        <strong><h5>Membership Length: </h5></strong>
        <%= @person.membership_length %>
      </li>
      <li class="list-group-item">
        <strong><h5>Email: </h5></strong>
        <%= @person.email %>
      </li>
      <li class="list-group-item">
        <strong><h5>Is An Admin: </h5></strong>
        <%= @person.is_admin %>
      </li>
    </ul>
    <div class="card-footer">
      <%= link_to 'Edit', edit_person_path(@person), :class=>"btn btn-warning"   %>

    </div>
  </div>
</div>

<div class="submit-button">
  <%= link_to 'Back', people_path, :class=>"btn btn-dark"   %>
</div>
