<%= form_with(model: alumni) do |form| %>
  <% if alumni.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alumni.errors.count, "error") %> prohibited this alumni from being saved:</h2>

      <ul>
        <% alumni.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <div class="form-row">
      <div class="form-group col-md-3">
        <%= form.label :person_id, {class: 'form-label'} %>
        <%= form.select :person_id, Person.order(:name).map { |person| [person.name, person.id] }, {include_blank: true, id: "alumni_person_id"}, {class: "form-control"} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <%= form.label :graduation_year, {class: 'form-label'}%>
        <%= form.text_field :graduation_year, { class: "form-control"}%>
      </div>
    </div>
  </div>

<div class="submit-button">
  <%= form.button :submit => "", class: "btn btn-success" %>
</div>


<% end %>
