<div class="title">
  <h1>Alumnis</h1>
</div>


<div class="submit-button">
  <%= link_to 'New Alumni', new_alumni_path, :class => "btn btn-success"  %>
</div>



<div class="outer-table-div">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" >Graduation year</th>
        <th scope="col" >Companies worked</th>
        <th scope="col" >Person</th>
        <th scope="col" colspan="3" style="text-align:center;" >Options</th>
      </tr>
    </thead>

    <tbody >
      <% @alumnis.each do |alumni| %>
        <tr scope="row" >
          <td><%= alumni.graduation_year %></td>
          <td><% Position.where(person_id: alumni.person_id).each do |positon| %>
                <%=positon.company.name %>,
              <% end %>
              </td>
          <td><%= Person.find(alumni.person_id).name %></td>
          <td><%= link_to 'Show', alumni, :class => "btn btn-outline-info"%></td>
          <td><%= link_to 'Edit', edit_alumni_path(alumni), :class => "btn btn-outline-info" %></td>
          <td><%= link_to 'Destroy', alumni, method: :delete, data: { confirm: 'Are you sure?' },
                          :class => "btn btn-outline-danger"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

