<p id="notice"><%= notice %></p>

<p>
  <strong>Graduation year:</strong>
  <%= @alumni.graduation_year %>
</p>

<p>
  <strong>Companies worked:</strong>
  <% Position.where(person_id: @alumni.person_id).each do |position| %>
    <%=position.company.name %>
  <% end %>
</p>

<p>
  <strong>Person:</strong>
  <%= @alumni.person.name %>
</p>

<%= link_to 'Edit', edit_alumni_path(@alumni) %> |
<%= link_to 'Back', alumnis_path %>
