<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <div class="form-row">
      <div class="form-group col-md-3">
        <%= form.label :name, {class: 'form-label'} %>
        <%= form.text_field :name, { class: "form-control"} %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <%= form.label :website, {class: 'form-label'} %>
        <%= form.text_field :website, { class: "form-control"} %>
      </div>
    </div>
  </div>


  <div class="submit-button">
    <%= form.button :submit => "", class: "btn btn-success" %>
  </div>
<% end %>
