<div class="title">
  <h1>Companies</h1>
</div>

<div class="submit-button">
  <%= link_to 'New Company', new_company_path, :class => "btn btn-success" %>
</div>

<div class="outer-table-div">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" >Company Name</th>
      <th scope="col" >Company website</th>
      <th scope="col"  colspan="3" style="text-align:center;"> Options </th>
    </tr>
    </thead>

    <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.website %></td>
        <td><%= link_to 'Show', company, :class => "btn btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_company_path(company), :class => "btn btn-outline-info" %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>



