<%= form_with(model: contact_form) do |form| %>
  <% if contact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

      <ul>
        <% contact_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contact_row">
    <div class= "form-group col-md-2">
      <%= form.label :"Officer", {class: 'form-label'} %>
      <%= form.select :person_id, Person.joins(:officer).order(:person_id).map { |person| [person.name, person.id] }, {include_blank: true, id: "id_of_the_person_id_select_box"}, {class: "form-control"} %>
    </div>
    
    <div class="form-group col-md-2">
      <%= form.label :name, {class: 'form-label'} %>
      <%= form.text_field :name, {class: "form-control"}%>
    </div>

    <div class="form-group col-md-2">
      <%= form.label :email, {class: 'form-label'} %>
      <%= form.text_field :email, {class: "form-control"} %>
    </div>
  </div>
  <div class="contact_row">
    <div class="form-group col-md-6">
    <%= form.label :message, {class: 'form-label'} %>
    <%= form.text_area :message, :cols => 10, :rows => 5, class: "form-control"%>
    </div>
  </div>
    <div class="submit-button">
      <%= form.button :submit => "", class: "btn btn-dark"%>
    </div>

<% end %>
