<p id="notice"><%= notice %></p>

<h1>Contact Forms</h1>

<table>
  <thead>
    <tr>
      <th>Contactid</th>
      <th>Email</th>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_forms.each do |contact_form| %>
      <tr>
        <td><%= contact_form.contactID %></td>
        <td><%= contact_form.email %></td>
        <td><%= contact_form.name %></td>
        <td><%= contact_form.message %></td>
        <td><%= link_to 'Show', contact_form %></td>
        <td><%= link_to 'Edit', edit_contact_form_path(contact_form) %></td>
        <td><%= link_to 'Destroy', contact_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Form', new_contact_form_path %>
