
<h1>Contact Forms</h1>

<div class="outer-table-div">
  <table  class="table">
    <thead>
    <tr>
      <th scope="col" >Person</th>
      <th scope="col" >Email</th>
      <th scope="col" >Name</th>
      <th scope="col" >Message</th>
      <th scope="col" colspan="3" style="text-align:center;" >Options</th>
    </tr>
    </thead>

    <tbody>
    <% @contact_forms.each do |contact_form| %>
      <tr scope="row" >
        <td><%= Person.where(id: contact_form.person_id).name %></td>
        <td><%= contact_form.email %></td>
        <td><%= contact_form.name %></td>
        <td><%= contact_form.message %></td>
        <td><%= link_to 'Show', contact_form, :class => "btn btn-outline-info" %></td>
        <td><%= link_to 'Edit', edit_contact_form_path(contact_form), :class => "btn btn-outline-info" %></td>
        <td><%= link_to 'Destroy', contact_form, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


<br>

