<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= Person.where(id: @contact_form.person_id).name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_form.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact_form.name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact_form.message %>
</p>

<%= link_to 'Edit', edit_contact_form_path(@contact_form) %> |
<%= link_to 'Back', officer_page_path %>
